<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="title">Registro de usuario</div>
            </div>
            <div class="col-4" style="text-align: right">
                <button type="button" class="btn btn-link text-white" routerLink="/login"> ⇦ Volver</button>
            </div>
        </div>
        <div class="content">
            <form (ngSubmit)="register()" [formGroup]="register_form">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingresa su nombre" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Correo</span>
                        <input type="text" class="form-control" formControlName="email" placeholder="Ingresa su email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" class="form-control" formControlName="password" placeholder="Ingresa su contraseña" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirmar contraseña</span>
                        <input type="text" class="form-control" formControlName="password_confirmation" placeholder="Confirma tu contraseña" required>
                    </div>
                </div>
                <div class="profile-details">
                    <input type="radio" id="dot-1">
                    <input type="radio" id="dot-2">
                    <input type="radio" id="dot-3">
                    <span class="profile-title">Seleccione su plan</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Gratis</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Pareja</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Familiar</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Registrar">
                </div>
            </form>
        </div>
    </div>
</div>