<app-loading></app-loading>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/logo_color.png" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            Espotifai
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/users">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/films">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/actors">Actores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/admin/directors">Directores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <p class="h1">Tabla de directores</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button (click)="create()" class="btn btn-primary btn-sm"><i class="bi bi-plus-square"></i> Ingresar nuevo director</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actor of actors">
                            <td>{{actor.id}}</td>
                            <td>{{actor.nombre}}</td>
                            <td>
                                <button (click)="edit(actor.id)" class="btn btn-warning">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>