<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto login-form">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Ingresa tus datos para continuar.</p>
                            <form (ngSubmit)="login()" [formGroup]="login_form">
                                <div class="form-group mb-3">
                                    <input formControlName="email" id="inputEmail" type="email" placeholder="Correo electrónico" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input formControlName="password" id="inputPassword" type="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class=" myTest custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input" style="margin-right: 5px">
                                    <label for="customCheck1" class="custom-control-label">Recordar contraseña</label>
                                </div>
                                <button type="submit" class="button">
                                    <input class="text-center" value="Ingresar">
                                </button>
                                <div class="text-center d-flex justify-content-between mt-4"><p>¿No tienes una cuenta? <a routerLink="/register" routerLinkActive="active" class="font-italic text-muted"> 
                                        <u>Registrate aquí</u></a></p></div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>