<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/logo_color.png" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            Espotifai
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/favs">Favoritos</a>
                </li>
            </ul>
            <a class="nav-link text-light" routerLink="/login">Logout <i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>
</nav>
<div class="main">
    <div class="album bg-light">
        <div class="container">
            <div class="row">
                <div class="starter-template pb-3">
                    <h1>Favoritos guardados</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngFor="let f of actors">
                    <div (click)="goTo(f.id_pelicula)" class="card mb-4 box-shadow">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img [src]="f.portada" style="width: 215px; height: 320px;" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{f.nombre}}</h5>
                                    <p class="card-text">{{f.descripcion}}</p>
                                    <p class="card-text"><small class="text-muted">{{f.duracion}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-muted">
    <div class="container">
        <p>Espotifai &copy; Una plataforma en donde puedes disfrutar todo tu entretenimiento</p>
        <p>New to Bootstrap? <a href="">Visita nuestras redes</a> or read our <a href="">Algun link</a>.</p>
    </div>
</footer>