<div class="top bg-dark">
	<div class="container">
		<div class="row">
            <div class="col-8">
                <div class="title">Selecciona tu usuario</div>
            </div>
            <div class="col-4" style="text-align: right">
                <button type="button" class="btn btn-link text-white" routerLink="/login"> ⇦ Volver</button>
            </div>
        </div>
		<div class="content">
			<div class="row">
				<div class="profile col-sm">
					<a routerLink="/home"><img src="../../../assets/user.png"></a>
					<p>Usuario 1</p>
				</div>
				<div class="profile col-sm">
					<a routerLink="/home"><img src="../../../assets/user.png"></a>
					<p>Usuario 2</p>
				</div>
				<div class="profile col-sm">
					<a routerLink="/home"><img src="../../../assets/user.png"></a>
					<p>Usuario 3</p>
				</div>
			</div>
			<div class="manage">
				<div class="d-flex justify-content-center button">
					<input type="submit" value="Manejo de perfiles">
				</div>
			</div>
		</div>
	</div>
</div>